Repository mamoe/mirai, pull requests merged in 2020-12, with the labels that each got.

#710 添加对 Mirai 生态的介绍
  README.md
  docs/mirai-ecology.md
Labels: M, documentation

#728 Fix #577: voice compression
  mirai-core-api/src/commonMain/kotlin/message/data/Voice.kt
  mirai-core/src/commonMain/kotlin/contact/GroupImpl.kt
  mirai-core/src/commonMain/kotlin/message/conversions.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/receive/MessageSvc.PbSendMsg.kt
Labels: N, protocol, ready-to-merge, 　bug　

#724 Update nudge template id
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/receive/OnlinePush.ReqPush.kt
Labels: N, protocol, ready-to-merge

#742 Fix Sub8A
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/receive/OnlinePush.ReqPush.kt
Labels: N, protocol, 　bug　

#720 Support New QQ System Faces
  mirai-core-api/src/commonMain/kotlin/message/data/Face.kt
  mirai-core-api/src/commonTest/kotlin/message.data/ConstrainSingleTest.kt
  mirai-core/src/commonMain/kotlin/message/conversions.kt
  mirai-core/src/commonMain/kotlin/message/faceImpl.kt
  mirai-core/src/commonMain/kotlin/network/protocol/data/proto/HummerCommelem.kt
Labels: N, enhancement, protocol

#748 Update README.md
  mirai-core-api/src/commonMain/kotlin/event/events/README.md
Labels: documentation

#749 Fix protocol error again, thanks to @wdvxdr1123 and MiraiGo
  mirai-core-api/src/commonMain/kotlin/utils/DeviceInfo.kt
  mirai-core/src/commonMain/kotlin/network/QQAndroidClient.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/Tlv.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/WtLogin.kt
Labels: M, protocol, 　bug　

#765 Support decode SvcRespRegister
  mirai-core/src/commonMain/kotlin/network/protocol/data/jce/SvcRespRegister.kt
  mirai-core/src/commonMain/kotlin/network/protocol/data/proto/Oidb0x769.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/StatSvc.kt
Labels: N, enhancement, protocol, protocol:login

#753 Introduce EventChannel
  mirai-core-api/src/commonMain/kotlin/Bot.kt
  mirai-core-api/src/commonMain/kotlin/event/EventChannel.kt
  mirai-core-api/src/commonMain/kotlin/event/JvmMethodListeners.kt
  mirai-core-api/src/commonMain/kotlin/event/events/types.kt
  mirai-core-api/src/commonMain/kotlin/event/internal/InternalEventListeners.kt
  mirai-core-api/src/commonMain/kotlin/event/linear.kt
  mirai-core-api/src/commonMain/kotlin/event/migrationHelpers.kt
  mirai-core-api/src/commonMain/kotlin/event/nextEvent.kt
  mirai-core-api/src/commonMain/kotlin/event/select.kt
  mirai-core-api/src/commonMain/kotlin/event/subscribeMessages.kt
  mirai-core-api/src/commonMain/kotlin/event/subscriber.kt
  mirai-core-api/src/jvmTest/kotlin/event/CancelScopeTest.kt
  mirai-core-api/src/jvmTest/kotlin/event/EventChannelTest.kt
  mirai-core-api/src/jvmTest/kotlin/event/EventTests.kt
  mirai-core-api/src/jvmTest/kotlin/event/JvmMethodEventsTestJava.kt
  mirai-core/src/commonMain/kotlin/AbstractBot.kt
  mirai-core/src/commonMain/kotlin/network/QQAndroidBotNetworkHandler.kt
  settings.gradle.kts
Labels: M, feature

#761 Support MarketFace
  mirai-core-api/src/commonMain/kotlin/message/MessageSerializer.kt
  mirai-core-api/src/commonMain/kotlin/message/data/HummerMessage.kt
  mirai-core/src/commonMain/kotlin/MiraiImpl.kt
  mirai-core/src/commonMain/kotlin/message/conversions.kt
  mirai-core/src/commonMain/kotlin/message/faceImpl.kt
  mirai-core/src/commonMain/kotlin/network/protocol/data/proto/Msg.kt
Labels: N, feature, feature:new-message, protocol, ready-to-merge

#768 Mirai code
  mirai-core-api/src/commonMain/kotlin/message/code/CodableMessage.kt
  mirai-core-api/src/commonMain/kotlin/message/code/MiraiCode.kt
  mirai-core-api/src/commonMain/kotlin/message/code/internal/impl.kt
  mirai-core-api/src/commonMain/kotlin/message/data/At.kt
  mirai-core-api/src/commonMain/kotlin/message/data/AtAll.kt
  mirai-core-api/src/commonMain/kotlin/message/data/Face.kt
  mirai-core-api/src/commonMain/kotlin/message/data/HummerMessage.kt
  mirai-core-api/src/commonMain/kotlin/message/data/Image.kt
  mirai-core-api/src/commonMain/kotlin/message/data/MessageChain.kt
  mirai-core-api/src/commonMain/kotlin/message/data/PlainText.kt
  mirai-core-api/src/commonMain/kotlin/message/data/RichMessage.kt
  mirai-core-api/src/commonTest/kotlin/message/code/TestMiraiCode.kt
  mirai-core/src/commonMain/kotlin/message/faceImpl.kt
  mirai-core/src/commonMain/kotlin/message/imagesImpl.kt
Labels: N, enhancement

#754 ExternalResource
  mirai-core-api/src/commonMain/kotlin/IMirai.kt
  mirai-core-api/src/commonMain/kotlin/contact/Contact.kt
  mirai-core-api/src/commonMain/kotlin/contact/Group.kt
  mirai-core-api/src/commonMain/kotlin/contact/OtherClient.kt
  mirai-core-api/src/commonMain/kotlin/contact/User.kt
  mirai-core-api/src/commonMain/kotlin/event/events/message.kt
  mirai-core-api/src/commonMain/kotlin/message/data/CustomMessage.kt
  mirai-core-api/src/commonMain/kotlin/utils/BotConfiguration.kt
  mirai-core-api/src/commonMain/kotlin/utils/DeviceInfo.kt
  mirai-core-api/src/commonMain/kotlin/utils/ExternalImage.kt
  mirai-core-api/src/commonMain/kotlin/utils/ExternalImageJvm.kt
  mirai-core-api/src/commonMain/kotlin/utils/ExternalResource.kt
  mirai-core-api/src/commonMain/kotlin/utils/FileCacheStrategy.kt
  mirai-core-api/src/commonMain/kotlin/utils/SendImageUtilsJvmKt.kt
  mirai-core-api/src/commonMain/kotlin/utils/internal/ChunkedFlowSession.kt
  mirai-core-api/src/commonMain/kotlin/utils/internal/DeferredReusableInput.jvm.kt
  mirai-core-api/src/commonMain/kotlin/utils/internal/ReusableInput.kt
  mirai-core-api/src/commonMain/kotlin/utils/internal/asReusableInput.kt
  mirai-core-api/src/commonMain/kotlin/utils/internal/md5.jvm.kt
  mirai-core-api/src/commonMain/kotlin/utils/sendTo.kt
  mirai-core-utils/src/commonMain/kotlin/ByteArrayPool.kt
  mirai-core-utils/src/commonMain/kotlin/Bytes.kt
  mirai-core-utils/src/commonMain/kotlin/CoroutineUtils.kt
  mirai-core-utils/src/commonMain/kotlin/Files.kt
  mirai-core-utils/src/commonMain/kotlin/MiraiPlatformUtils.kt
  mirai-core-utils/src/commonTest/kotlin/net/mamoe/mirai/utils/ExternalImageTest.kt
  mirai-core/src/commonMain/kotlin/BotAccount.kt
  mirai-core/src/commonMain/kotlin/MiraiImpl.kt
  mirai-core/src/commonMain/kotlin/contact/AbstractUser.kt
  mirai-core/src/commonMain/kotlin/contact/AnonymousMemberImpl.kt
  mirai-core/src/commonMain/kotlin/contact/GroupImpl.kt
  mirai-core/src/commonMain/kotlin/contact/OtherClientImpl.kt
  mirai-core/src/commonMain/kotlin/message/conversions.kt
  mirai-core/src/commonMain/kotlin/message/imagesImpl.kt
  mirai-core/src/commonMain/kotlin/network/QQAndroidClient.kt
  mirai-core/src/commonMain/kotlin/network/highway/HighwayHelper.kt
  mirai-core/src/commonMain/kotlin/network/highway/highway.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/PacketFactory.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/Tlv.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/MultiMsg.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/ConfigPushSvc.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/StatSvc.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/WtLogin.kt
  mirai-core/src/commonMain/kotlin/utils/ByteArrayPool.kt
  mirai-core/src/commonMain/kotlin/utils/MiraiPlatformUtils.kt
  mirai-core/src/commonMain/kotlin/utils/byteArrays.kt
  mirai-core/src/commonMain/kotlin/utils/crypto/TEA.kt
  mirai-core/src/commonMain/kotlin/utils/io/input.kt
  mirai-core/src/commonTest/kotlin/PlatformUtilsTest.kt
  mirai-core/src/commonTest/kotlin/test/printing.kt
  mirai-core/src/jvmMain/kotlin/utils/crypto/ECDHJvmDesktop.kt
Labels: M, feature

#780 谢谢。
  docs/mirai.md
Labels: documentation

#774 Support Group Honor (Talkative Only)
  mirai-core-api/src/commonMain/kotlin/event/events/group.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/receive/OnlinePush.ReqPush.kt
Labels: N, feature, protocol

#776 Support delete friend
  mirai-core-api/src/commonMain/kotlin/contact/Friend.kt
  mirai-core-api/src/commonMain/kotlin/contact/NormalMember.kt
  mirai-core/src/commonMain/kotlin/contact/FriendImpl.kt
  mirai-core/src/commonMain/kotlin/network/protocol/data/jce/FriendList.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/PacketFactory.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/list/FriendList.kt
Labels: N, feature, protocol
