Repository mamoe/mirai, pull requests merged in 2021-01, with the labels that each got.

#795 Support Stranger & Fix #664
  mirai-core-api/src/commonMain/kotlin/Bot.kt
  mirai-core-api/src/commonMain/kotlin/contact/Member.kt
  mirai-core-api/src/commonMain/kotlin/contact/Stranger.kt
  mirai-core-api/src/commonMain/kotlin/data/FriendInfo.kt
  mirai-core-api/src/commonMain/kotlin/data/MemberInfo.kt
  mirai-core-api/src/commonMain/kotlin/data/StrangerInfo.kt
  mirai-core-api/src/commonMain/kotlin/data/UserInfo.kt
  mirai-core-api/src/commonMain/kotlin/event/MessageSubscribersBuilder.kt
  mirai-core-api/src/commonMain/kotlin/event/events/bot.kt
  mirai-core-api/src/commonMain/kotlin/event/events/friend.kt
  mirai-core-api/src/commonMain/kotlin/event/events/message.kt
  mirai-core-api/src/commonMain/kotlin/event/events/stranger.kt
  mirai-core-api/src/commonMain/kotlin/event/events/types.kt
  mirai-core-api/src/commonMain/kotlin/lowLevelApi.kt
  mirai-core-api/src/commonMain/kotlin/message/action/Nudge.kt
  mirai-core-api/src/commonMain/kotlin/message/data/MessageSource.kt
  mirai-core-api/src/commonMain/kotlin/message/data/MessageSourceBuilder.kt
  mirai-core/src/commonMain/kotlin/MiraiImpl.kt
  mirai-core/src/commonMain/kotlin/QQAndroidBot.kt
  mirai-core/src/commonMain/kotlin/contact/AbstractUser.kt
  mirai-core/src/commonMain/kotlin/contact/MemberInfoImpl.kt
  mirai-core/src/commonMain/kotlin/contact/NormalMemberImpl.kt
  mirai-core/src/commonMain/kotlin/contact/StrangerImpl.kt
  mirai-core/src/commonMain/kotlin/contact/util.kt
  mirai-core/src/commonMain/kotlin/message/conversions.kt
  mirai-core/src/commonMain/kotlin/message/incomingSourceImpl.kt
  mirai-core/src/commonMain/kotlin/message/offlineSourceImpl.kt
  mirai-core/src/commonMain/kotlin/message/outgoingSourceImpl.kt
  mirai-core/src/commonMain/kotlin/network/QQAndroidBotNetworkHandler.kt
  mirai-core/src/commonMain/kotlin/network/QQAndroidClient.kt
  mirai-core/src/commonMain/kotlin/network/protocol/data/proto/FrdSysMsg.kt
  mirai-core/src/commonMain/kotlin/network/protocol/data/proto/OIDB.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/PacketFactory.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/receive/MessageSvc.PbGetMsg.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/receive/MessageSvc.PbSendMsg.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/receive/OnlinePush.PbPushGroupMsg.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/receive/OnlinePush.ReqPush.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/list/StrangerList.kt
Labels: N, feature, protocol, ready-to-merge

#809 Remove debug information in StrangerList.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/list/StrangerList.kt
Labels: enhancement

#811 Fix wrong mute packet decoding
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/receive/OnlinePush.ReqPush.kt
Labels: M, protocol, 　bug　

#804 Syncing when joined group by other client & Add missed invitor in invite event
  mirai-core-api/src/commonMain/kotlin/event/events/group.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/receive/MessageSvc.PbGetMsg.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/receive/OnlinePush.ReqPush.kt
Labels: M, protocol, ready-to-merge

#819 Add missed data modifier to honor event
  mirai-core-api/src/commonMain/kotlin/event/events/group.kt
Labels: N, enhancement

#836 Support PushStatus and add new ClientKind, Fix #787
  mirai-core-api/src/commonMain/kotlin/contact/OtherClient.kt
  mirai-core/src/commonMain/kotlin/network/protocol/data/jce/ReqPushStatus.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/PacketFactory.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/receive/MessageSvc.RequestPushStatus.kt
Labels: N, feature, protocol

#842 Fix missed PC client message
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/receive/MessageSvc.PbGetMsg.kt
Labels: N, for-dev, protocol, 　bug　

#841 Support C2C sync and fragmented message decoding of friend
  mirai-core-api/src/commonMain/kotlin/event/events/MessageSyncEvent.kt
  mirai-core/src/commonMain/kotlin/contact/FriendImpl.kt
  mirai-core/src/commonMain/kotlin/contact/util.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/PacketFactory.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/receive/MessageSvc.PbGetMsg.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/receive/OnlinePush.PbC2CMsgSync.kt
  mirai-core/src/commonMain/kotlin/utils/FragmentedMsgParsingCache.kt
Labels: N, feature, protocol

#855 Fix inconsistent message length
  mirai-core/src/commonMain/kotlin/utils/type.kt
Labels: M, protocol, 　bug　

#857 Fix Long message error
  mirai-core/src/commonMain/kotlin/contact/GroupImpl.kt
Labels: enhancement, protocol

#858 Fix long message error again
  mirai-core/src/commonMain/kotlin/contact/GroupImpl.kt
  mirai-core/src/commonMain/kotlin/contact/util.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/receive/MessageSvc.PbSendMsg.kt
  mirai-core/src/commonMain/kotlin/utils/type.kt
Labels: M, protocol, 　bug　

#859 Fix #856, also fix wrong comment in PbPushTransMsg.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/receive/MessageSvc.PbGetMsg.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/receive/OnlinePush.PbPushTransMsg.kt
Labels: M, protocol, 　bug　

#810 Support detect official bot, fix #439
  mirai-core-api/src/commonMain/kotlin/data/MemberInfo.kt
  mirai-core/src/commonMain/kotlin/MiraiImpl.kt
  mirai-core/src/commonMain/kotlin/contact/MemberInfoImpl.kt
  mirai-core/src/commonMain/kotlin/network/QQAndroidBotNetworkHandler.kt
  mirai-core/src/commonMain/kotlin/network/QQAndroidClient.kt
  mirai-core/src/commonMain/kotlin/network/protocol/data/proto/OIDB.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/PacketFactory.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/TroopManagement.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/receive/OnlinePush.ReqPush.kt
  mirai-core/src/commonMain/kotlin/utils/string.kt
Labels: N, feature, protocol, ready-to-merge

#866 UserProfile query
  binary-compatibility-validator/api/binary-compatibility-validator.api
  mirai-core-api/src/commonMain/kotlin/Bot.kt
  mirai-core-api/src/commonMain/kotlin/LowLevelApiAccessor.kt
  mirai-core-api/src/commonMain/kotlin/data/UserProfile.kt
  mirai-core/src/commonMain/kotlin/QQAndroidBot.kt
  mirai-core/src/commonMain/kotlin/network/protocol/data/jce/ReqSummaryCard.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/PacketFactory.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/summarycard/SummaryCard.kt
Labels: M, feature, protocol, ready-to-merge

#882 Support decode the join request by member invite
  binary-compatibility-validator/api/binary-compatibility-validator.api
  mirai-core-api/src/commonMain/kotlin/event/events/group.kt
  mirai-core/src/commonMain/kotlin/MiraiImpl.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/NewContact.kt
Labels: N, protocol, ready-to-merge, 　bug　

#889 支持使用QQ互联通道发送音乐分享
  binary-compatibility-validator/api/binary-compatibility-validator.api
  buildSrc/src/main/kotlin/Versions.kt
  mirai-core-api/src/commonMain/kotlin/message/data/MusicShare.kt
  mirai-core/src/commonMain/kotlin/contact/GroupSendMessageImpl.kt
  mirai-core/src/commonMain/kotlin/message/conversions.kt
  mirai-core/src/commonMain/kotlin/message/lightApp.kt
  mirai-core/src/commonMain/kotlin/message/outgoingSourceImpl.kt
  mirai-core/src/commonMain/kotlin/network/QQAndroidClient.kt
  mirai-core/src/commonMain/kotlin/network/protocol/data/proto/MsgCommon.kt
  mirai-core/src/commonMain/kotlin/network/protocol/data/proto/OIDB.kt
  mirai-core/src/commonMain/kotlin/network/protocol/data/proto/OidbCmd0xb77.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/PacketFactory.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/MusicSharePacket.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/SendMessageMultiProtocol.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/receive/OnlinePush.PbPushGroupMsg.kt
  mirai-core/src/commonMain/kotlin/utils/io/serialization/utils.kt
Labels: N, feature, protocol

#917 Highway big data channel
  binary-compatibility-validator/api/binary-compatibility-validator.api
  buildSrc/src/main/kotlin/Versions.kt
  mirai-core-api/src/commonMain/kotlin/utils/BotConfiguration.kt
  mirai-core-utils/src/commonMain/kotlin/CoroutineUtils.kt
  mirai-core-utils/src/commonMain/kotlin/StandardUtils.kt
  mirai-core/src/commonMain/kotlin/AbstractBot.kt
  mirai-core/src/commonMain/kotlin/MiraiImpl.kt
  mirai-core/src/commonMain/kotlin/QQAndroidBot.kt
  mirai-core/src/commonMain/kotlin/contact/AbstractUser.kt
  mirai-core/src/commonMain/kotlin/contact/GroupImpl.kt
  mirai-core/src/commonMain/kotlin/contact/GroupSendMessageImpl.kt
  mirai-core/src/commonMain/kotlin/message/ForceAsLongMessage.kt
  mirai-core/src/commonMain/kotlin/message/conversions.kt
  mirai-core/src/commonMain/kotlin/network/QQAndroidBotNetworkHandler.kt
  mirai-core/src/commonMain/kotlin/network/QQAndroidClient.kt
  mirai-core/src/commonMain/kotlin/network/highway/ChunkedFlowSession.kt
  mirai-core/src/commonMain/kotlin/network/highway/Highway.kt
  mirai-core/src/commonMain/kotlin/network/highway/Http.kt
  mirai-core/src/commonMain/kotlin/network/keys.kt
  mirai-core/src/commonMain/kotlin/network/protocol/data/jce/ConfigPush.kt
  mirai-core/src/commonMain/kotlin/network/protocol/data/proto/Highway.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/PacketFactory.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/voice/PttStore.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/ConfigPushSvc.kt
  mirai-core/src/commonMain/kotlin/utils/PlatformSocket.kt
  mirai-core/src/commonMain/kotlin/utils/retryWithServers.kt
Labels: protocol

#901 Support key refresh
  binary-compatibility-validator/api/binary-compatibility-validator.api
  mirai-core-api/src/commonMain/kotlin/LowLevelApiAccessor.kt
  mirai-core-api/src/commonMain/kotlin/utils/DeviceInfo.kt
  mirai-core/src/commonMain/kotlin/MiraiImpl.kt
  mirai-core/src/commonMain/kotlin/QQAndroidBot.kt
  mirai-core/src/commonMain/kotlin/network/DebuggingProperties.kt
  mirai-core/src/commonMain/kotlin/network/QQAndroidBotNetworkHandler.kt
  mirai-core/src/commonMain/kotlin/network/QQAndroidClient.kt
  mirai-core/src/commonMain/kotlin/network/keys.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/EncryptMethod.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/OutgoingPacketAndroid.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/PacketFactory.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/Tlv.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/StatSvc.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/WtLogin.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/wtlogin/WtLogin15.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/wtlogin/WtLogin20.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/wtlogin/WtLogin9.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/wtlogin/WtLoginExt.kt
  mirai-core/src/commonMain/kotlin/utils/MiraiProtocolInternal.kt
Labels: protocol, ready-to-merge

#938 README的年份问题
  README-eng.md
  README.md
Labels: documentation
