Repository mamoe/mirai, pull requests merged in 2021-03, with the labels that each got.

#1060 Correct group syncing and add friend syncing logic, Fix #1058
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/receive/OnlinePush.ReqPush.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/list/FriendList.kt
Labels: N, protocol, ready-to-merge, 　bug　

#1069 Support file operations
  binary-compatibility-validator/android/api/binary-compatibility-validator-android.api
  binary-compatibility-validator/api/binary-compatibility-validator.api
  buildSrc/src/main/kotlin/Versions.kt
  mirai-core-api/build.gradle.kts
  mirai-core-api/src/commonMain/kotlin/contact/FileSupported.kt
  mirai-core-api/src/commonMain/kotlin/contact/Group.kt
  mirai-core-api/src/commonMain/kotlin/internal/utils/ExternalImageImpls.kt
  mirai-core-api/src/commonMain/kotlin/message/data/FileMessage.kt
  mirai-core-api/src/commonMain/kotlin/utils/ExternalResource.kt
  mirai-core-api/src/commonMain/kotlin/utils/RemoteFile.kt
  mirai-core-utils/src/androidMain/kotlin/Actuals.kt
  mirai-core-utils/src/commonMain/kotlin/Bytes.kt
  mirai-core-utils/src/commonMain/kotlin/MiraiPlatformUtils.kt
  mirai-core-utils/src/jvmMain/kotlin/Actuals.kt
  mirai-core/src/commonMain/kotlin/MiraiImpl.kt
  mirai-core/src/commonMain/kotlin/contact/GroupImpl.kt
  mirai-core/src/commonMain/kotlin/contact/SendMessageHandler.kt
  mirai-core/src/commonMain/kotlin/contact/util.kt
  mirai-core/src/commonMain/kotlin/message/FileMessageImpl.kt
  mirai-core/src/commonMain/kotlin/message/ReceiveMessageHandler.kt
  mirai-core/src/commonMain/kotlin/message/incomingSourceImpl.kt
  mirai-core/src/commonMain/kotlin/network/highway/ChunkedFlowSession.kt
  mirai-core/src/commonMain/kotlin/network/highway/Highway.kt
  mirai-core/src/commonMain/kotlin/network/protocol/data/proto/Exciting.kt
  mirai-core/src/commonMain/kotlin/network/protocol/data/proto/GroupFileCommon.kt
  mirai-core/src/commonMain/kotlin/network/protocol/data/proto/Highway.kt
  mirai-core/src/commonMain/kotlin/network/protocol/data/proto/HummerResv21.kt
  mirai-core/src/commonMain/kotlin/network/protocol/data/proto/Msg.kt
  mirai-core/src/commonMain/kotlin/network/protocol/data/proto/OIDB.kt
  mirai-core/src/commonMain/kotlin/network/protocol/data/proto/Oidb0x6d6.kt
  mirai-core/src/commonMain/kotlin/network/protocol/data/proto/Oidb0x6d7.kt
  mirai-core/src/commonMain/kotlin/network/protocol/data/proto/Oidb0x6d8.kt
  mirai-core/src/commonMain/kotlin/network/protocol/data/proto/Oidb0x6d9.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/PacketFactory.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/GroupFile.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/TroopManagement.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/receive/MessageSvc.PbSendMsg.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/receive/OnlinePush.PbPushGroupMsg.kt
  mirai-core/src/commonMain/kotlin/utils/PlatformSocket.kt
  mirai-core/src/commonMain/kotlin/utils/RemoteFileImpl.kt
  mirai-core/src/commonMain/kotlin/utils/io/serialization/utils.kt
  mirai-core/src/commonMain/kotlin/utils/retryWithServers.kt
  mirai-core/src/commonTest/kotlin/internal/utils/FileSystemTest.kt
Labels: feature, protocol

#1104 Fix operations of RemoteFile
  binary-compatibility-validator/android/api/binary-compatibility-validator-android.api
  binary-compatibility-validator/api/binary-compatibility-validator.api
  mirai-core-api/src/commonMain/kotlin/utils/RemoteFile.kt
  mirai-core/src/commonMain/kotlin/utils/RemoteFileImpl.kt
Labels: N, 　bug　

#1080 Compiled code verify
  build.gradle.kts
  buildSrc/src/main/kotlin/analyzes/AndroidApiLevelCheck.kt
  buildSrc/src/main/kotlin/analyzes/AsmUtil.kt
  buildSrc/src/main/kotlin/analyzes/CompiledCodeVerify.kt
  buildSrc/src/main/kotlin/analyzes/NoSuchMethodAnalyzer.kt
  mirai-core-api/build.gradle.kts
  mirai-core-utils/build.gradle.kts
  mirai-core/build.gradle.kts
Labels: M, enhancement

#1110 增加社区SDK?
  README-eng.md
Labels: documentation

#1089 Make ForwardMessageBuilder easier to use for Java, close #1087
  binary-compatibility-validator/android/api/binary-compatibility-validator-android.api
  binary-compatibility-validator/api/binary-compatibility-validator.api
  mirai-core-api/src/commonMain/kotlin/message/data/ForwardMessage.kt
  mirai-core-api/src/commonMain/kotlin/message/data/MessageChainBuilder.kt
Labels: enhancement, ready-to-merge

#1115 Move Dice to MarketFace conversion from `SendMessageHandler.transformSpecialMessages`...
  mirai-core/src/commonMain/kotlin/contact/SendMessageHandler.kt
  mirai-core/src/commonMain/kotlin/message/messageToElems.kt
Labels: enhancement

#1112 Support UnsupportedMessage
  binary-compatibility-validator/android/api/binary-compatibility-validator-android.api
  binary-compatibility-validator/api/binary-compatibility-validator.api
  mirai-core-api/src/commonMain/kotlin/IMirai.kt
  mirai-core-api/src/commonMain/kotlin/internal/message/MessageSerializersImpl.kt
  mirai-core-api/src/commonMain/kotlin/message/data/UnsupportedMessage.kt
  mirai-core/src/commonMain/kotlin/MiraiImpl.kt
  mirai-core/src/commonMain/kotlin/message/ReceiveMessageHandler.kt
  mirai-core/src/commonMain/kotlin/message/UnsupportedMessageImpl.kt
  mirai-core/src/commonMain/kotlin/message/messageToElems.kt
  mirai-core/src/jvmTest/kotlin/message/data/MessageSerializationTest.kt
Labels: feature

#1123 Correct group syncing logic again, Fix #1120
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/receive/OnlinePush.ReqPush.kt
Labels: protocol, 　bug　

#1125 Fast login Packet Implement
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/WtLogin.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/wtlogin/WtLogin10.kt
Labels: M, feature, protocol

#1128 Refresh Token when exchanging and solve connection dropping issue
  mirai-core/src/commonMain/kotlin/network/handler/QQAndroidBotNetworkHandler.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/WtLogin.kt
Labels: M, feature, protocol

#1131 Fix missed register and tgt update
  mirai-core/src/commonMain/kotlin/network/handler/QQAndroidBotNetworkHandler.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/WtLogin.kt
Labels: M, protocol, 　bug　
