Repository mamoe/mirai, pull requests merged in 2022-05, with the labels that each got.

#1995 Update docs for console plugin
  mirai-console/docs/Plugins.md
  mirai-console/docs/plugin/.JVMPlugin_images/75227ef5.png
  mirai-console/docs/plugin/.images/PluginMainDeclaration.png
  mirai-console/docs/plugin/.images/PluginMainServiceNotConfigured.png
  mirai-console/docs/plugin/JVMPlugin-Appendix.md
  mirai-console/docs/plugin/JVMPlugin.md
  mirai-console/docs/plugin/Plugins.md
  mirai-console/tools/gradle-plugin/README.md
Labels: s:console

#2030 fix: MarketFace contentToString
  mirai-core-api/src/commonMain/kotlin/message/data/MarketFace.kt
Labels: N, t:problem, s:core

#2033 Fix recursively resolve file by id
  mirai-core/src/commonMain/kotlin/contact/file/AbsoluteFolderImpl.kt
Labels: t:bug, s:core

#2041 fix: FileMessage.Delegate SerialName
  mirai-core-api/src/commonMain/kotlin/message/data/FileMessage.kt
Labels: t:bug, s:core
