Repository mamoe/mirai, pull requests merged in 2022-08, with the labels that each got.

#2182 docs: 订正两个配置文件的名字
  docs/ConsoleTerminal.md
Labels: t:documentation

#2173 fix workflow skip snapshot
  .github/workflows/build.yml
Labels: s:build

#2112 Support change friend remark
  mirai-core-api/compatibility-validation/android/api/android.api
  mirai-core-api/compatibility-validation/jvm/api/jvm.api
  mirai-core-api/src/commonMain/kotlin/contact/Friend.kt
  mirai-core-api/src/commonMain/kotlin/event/events/friend.kt
  mirai-core/src/commonMain/kotlin/contact/AbstractMember.kt
  mirai-core/src/commonMain/kotlin/contact/FriendImpl.kt
  mirai-core/src/commonMain/kotlin/network/protocol/data/jce/ChangeFriendNameReq.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/PacketFactory.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/summarycard/FriendRemark.kt
Labels: t:feature, x:protocol, z:ready-to-merge, s:core

#2191 [core] Fix forward message seq-id; Fix ordering on iOS
  mirai-core/src/commonMain/kotlin/message/data/MultiMsgUploader.kt
Labels: M, t:problem, z:ready-to-merge, s:core

#2140 Console artifacts downloading progress
  mirai-console/backend/mirai-console/compatibility-validation/jvm/api/jvm.api
  mirai-console/backend/mirai-console/src/MiraiConsole.kt
  mirai-console/backend/mirai-console/src/MiraiConsoleImplementation.kt
  mirai-console/backend/mirai-console/src/command/BuiltInCommands.kt
  mirai-console/backend/mirai-console/src/fontend/DefaultLoggingProcessProgress.kt
  mirai-console/backend/mirai-console/src/fontend/ProcessProgress.kt
  mirai-console/backend/mirai-console/src/internal/plugin/JvmPluginDependencyDownload.kt
  mirai-console/backend/mirai-console/src/util/MemoryFormat.kt
  mirai-console/frontend/mirai-console-terminal/src/ConsoleInputImpl.kt
  mirai-console/frontend/mirai-console-terminal/src/MiraiConsoleImplementationTerminal.kt
  mirai-console/frontend/mirai-console-terminal/src/MiraiConsoleTerminalLoader.kt
  mirai-console/frontend/mirai-console-terminal/src/TerminalProcessProgress.kt
Labels: z:ready-to-merge, s:console

#2177 NextEventAndIntercept and NextMessageAndIntercept
  mirai-core-api/src/commonMain/kotlin/event/Extensions.kt
  mirai-core-api/src/commonMain/kotlin/message/utils.kt
  mirai-core/src/commonTest/kotlin/event/EventTests.kt
Labels: t:feature, s:core

#2113 Support friend group
  mirai-core-api/compatibility-validation/android/api/android.api
  mirai-core-api/compatibility-validation/jvm/api/jvm.api
  mirai-core-api/src/commonMain/kotlin/Bot.kt
  mirai-core-api/src/commonMain/kotlin/contact/Friend.kt
  mirai-core-api/src/commonMain/kotlin/contact/friendgroup/FriendGroup.kt
  mirai-core-api/src/commonMain/kotlin/contact/friendgroup/FriendGroups.kt
  mirai-core-api/src/commonMain/kotlin/data/FriendInfo.kt
  mirai-core-api/src/commonMain/kotlin/data/UserProfile.kt
  mirai-core/src/commonMain/kotlin/AbstractBot.kt
  mirai-core/src/commonMain/kotlin/MiraiImpl.kt
  mirai-core/src/commonMain/kotlin/QQAndroidBot.kt
  mirai-core/src/commonMain/kotlin/contact/FriendImpl.kt
  mirai-core/src/commonMain/kotlin/contact/friendgroup/FriendGroupImpl.kt
  mirai-core/src/commonMain/kotlin/contact/friendgroup/FriendGroupsImpl.kt
  mirai-core/src/commonMain/kotlin/contact/info/FriendGroupInfo.kt
  mirai-core/src/commonMain/kotlin/contact/info/FriendInfoImpl.kt
  mirai-core/src/commonMain/kotlin/network/components/ContactUpdater.kt
  mirai-core/src/commonMain/kotlin/network/notice/priv/FriendGroupNoticeProcessor.kt
  mirai-core/src/commonMain/kotlin/network/notice/priv/FriendNoticeProcessor.kt
  mirai-core/src/commonMain/kotlin/network/protocol/data/jce/MoveGroupMemPack.kt
  mirai-core/src/commonMain/kotlin/network/protocol/data/jce/SetGroupPack.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/PacketFactory.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/list/FriendList.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/summarycard/SummaryCard.kt
  mirai-core/src/commonTest/kotlin/notice/processors/AbstractNoticeProcessorTest.kt
Labels: t:feature, x:protocol, z:ready-to-merge, s:core

#2213 [core+console] Raise deprecation level for 2.13:
  mirai-console/backend/mirai-console/src/data/java/JAutoSavePluginConfig.kt
  mirai-console/backend/mirai-console/src/data/java/JAutoSavePluginData.kt
  mirai-console/backend/mirai-console/src/extension/Extension.kt
  mirai-console/backend/mirai-console/src/extension/ExtensionPoint.kt
  mirai-console/backend/mirai-console/src/extension/PluginComponentStorage.kt
  mirai-console/backend/mirai-console/src/extensions/CommandCallInterceptorProvider.kt
  mirai-console/backend/mirai-console/src/extensions/CommandCallParserProvider.kt
  mirai-console/backend/mirai-console/src/extensions/CommandCallResolverProvider.kt
  mirai-console/backend/mirai-console/src/extensions/PermissionServiceProvider.kt
  mirai-console/backend/mirai-console/src/extensions/PluginLoaderProvider.kt
  mirai-console/backend/mirai-console/src/extensions/SingletonExtensionSelector.kt
  mirai-console/backend/mirai-console/src/internal/extension/SingletonExtensionSelectorImpl.kt
  mirai-console/backend/mirai-console/src/util/CoroutineScopeUtils.kt
  mirai-core-api/compatibility-validation/android/api/android.api
  mirai-core-api/compatibility-validation/jvm/api/jvm.api
  mirai-core-api/src/commonMain/kotlin/event/Event.kt
  mirai-core-api/src/jvmBaseMain/kotlin/event/deprecated.nextEvent.kt
  mirai-core-api/src/jvmBaseMain/kotlin/event/deprecated.nextEventAsync.kt
  mirai-core-api/src/jvmBaseMain/kotlin/event/deprecated.syncFromEvent.kt
  mirai-core-api/src/jvmBaseMain/kotlin/utils/RemoteFile.kt
Labels: s:console, s:core

#2196 [core+console] Improve logging hierarchy:
  logging/mirai-logging-log4j2/test/MiraiLog4JAdapterTest.kt
  mirai-console/backend/mirai-console/src/MiraiConsole.kt
  mirai-console/backend/mirai-console/src/MiraiConsoleImplementation.kt
  mirai-console/backend/mirai-console/src/internal/MiraiConsoleImplementationBridge.kt
  mirai-console/backend/mirai-console/src/internal/command/CommandManagerImpl.kt
  mirai-console/backend/mirai-console/src/internal/plugin/BuiltInJvmPluginLoaderImpl.kt
  mirai-console/backend/mirai-console/src/internal/plugin/JvmPluginClassLoader.kt
  mirai-console/backend/mirai-console/src/internal/plugin/JvmPluginInternal.kt
  mirai-console/backend/mirai-console/src/internal/plugin/PluginManagerImpl.kt
  mirai-console/backend/mirai-console/test/testFramework/AbstractConsoleInstanceTest.kt
  mirai-console/backend/mirai-console/test/testFramework/MockConsoleImplementation.kt
  mirai-console/frontend/mirai-console-terminal/src/MiraiConsoleImplementationTerminal.kt
  mirai-console/frontend/mirai-console-terminal/src/MiraiConsoleTerminalLoader.kt
  mirai-core-api/compatibility-validation/android/api/android.api
  mirai-core-api/compatibility-validation/jvm/api/jvm.api
  mirai-core-api/src/jvmBaseMain/kotlin/utils/LoggerAdapters.kt
  mirai-core-api/src/jvmBaseMain/kotlin/utils/MiraiLogger.kt
  mirai-core-api/src/jvmBaseTest/kotlin/logging/AbstractLoggingTest.kt
  mirai-core-api/src/jvmBaseTest/kotlin/logging/Log4j2LoggingTest.kt
  mirai-core-api/src/jvmBaseTest/kotlin/logging/LoggingCompatibilityTest.kt
  mirai-core/src/androidTest/kotlin/test/initPlatform.android.kt
  mirai-core/src/jvmBaseTest/kotlin/test/AbstractTest.kt
  mirai-core/src/jvmTest/kotlin/netinternalkit/LogCapture.kt
Labels: s:console

#2219 [console] Change convention of `createLoggerFactory()`
  mirai-console/backend/mirai-console/src/MiraiConsoleImplementation.kt
  mirai-console/backend/mirai-console/src/internal/MiraiConsoleImplementationBridge.kt
  mirai-console/backend/mirai-console/test/testFramework/MockConsoleImplementation.kt
  mirai-console/frontend/mirai-console-terminal/src/MiraiConsoleImplementationTerminal.kt
  mirai-core-api/src/jvmBaseMain/kotlin/utils/MiraiLogger.kt
Labels: z:ready-to-merge, s:console
