Repository mamoe/mirai, pull requests merged in 2022-02, with the labels that each got.

#1868 fix typo
  mirai-core/src/commonMain/kotlin/network/notice/UnconsumedNoticesAlerter.kt
Labels: N, s:core

#1859 fix: Plugin Dependency Requirement check
  mirai-console/backend/mirai-console/src/internal/plugin/PluginManagerImpl.kt
Labels: t:bug, M, z:ready-to-merge, s:console

#1855 为生成的 IMEI 增加校验位
  mirai-core-api/src/commonMain/kotlin/utils/DeviceInfo.kt
Labels: t:enhancement, N, z:ready-to-merge, s:core

#1891 Update protocol in autologin.yml
  mirai-console/backend/mirai-console/src/internal/data/builtins/AutoLoginConfig.kt
Labels: t:enhancement, s:core

#1872 Complete the work on Mocking frame
  mirai-core-mock/src/contact/MockContact.kt
  mirai-core-mock/src/contact/MockFriend.kt
  mirai-core-mock/src/contact/MockGroup.kt
  mirai-core-mock/src/contact/MockGroupControlPane.kt
  mirai-core-mock/src/contact/MockNormalMember.kt
  mirai-core-mock/src/contact/MockStranger.kt
  mirai-core-mock/src/contact/announcement/MockAnnouncements.kt
  mirai-core-mock/src/internal/absolutefile/MockAbsoluteFile.kt
  mirai-core-mock/src/internal/absolutefile/MockAbsoluteFolder.kt
  mirai-core-mock/src/internal/absolutefile/MockRemoteFiles.kt
  mirai-core-mock/src/internal/contact/MockAnnouncementsImpl.kt
  mirai-core-mock/src/internal/contact/MockAnonymousMemberImpl.kt
  mirai-core-mock/src/internal/contact/MockFriendImpl.kt
  mirai-core-mock/src/internal/contact/MockGroupImpl.kt
  mirai-core-mock/src/internal/contact/MockNormalMemberImpl.kt
  mirai-core-mock/src/internal/contact/MockStrangerImpl.kt
  mirai-core-mock/src/internal/contact/util.kt
  mirai-core-mock/src/internal/remotefile/v1/MockRemoteFile.kt
  mirai-core-mock/src/internal/remotefile/v2/MockRemoteFiles.kt
  mirai-core-mock/src/utils/image.kt
  mirai-core-mock/test/AbsoluteFileTest.kt
  mirai-core-mock/test/mock/MockFriendTest.kt
  mirai-core-mock/test/mock/MockGroupTest.kt
  mirai-core-mock/test/mock/MockMemberTest.kt
  mirai-core-mock/test/mock/MockStrangerTest.kt
Labels: z:ready-to-merge, s:core

#1874 Save journals to file
  mirai-console/backend/integration-test/test/MiraiConsoleIntegrationTestBootstrap.kt
  mirai-console/backend/integration-test/test/testpoints/terminal/TestTerminalLogging.kt
  mirai-console/frontend/mirai-console-terminal/src/ConsoleTerminalSettings.kt
  mirai-console/frontend/mirai-console-terminal/src/LoggingService.kt
  mirai-console/frontend/mirai-console-terminal/src/MiraiConsoleImplementationTerminal.kt
  mirai-console/frontend/mirai-console-terminal/src/MiraiConsoleTerminalLoader.kt
Labels: t:enhancement, z:ready-to-merge, s:console

#1843 fix: AbstractConcurrentPermissionService
  mirai-console/backend/mirai-console/src/internal/permission/AbstractConcurrentPermissionService.kt
  mirai-console/backend/mirai-console/test/permission/PermissionServiceTest.kt
Labels: N, t:problem, z:ready-to-merge, s:console

#1897 support escape for text parameter parsing
  mirai-console/backend/mirai-console/src/internal/command/CommandReflector.kt
  mirai-console/backend/mirai-console/test/command/InstanceTestCommand.kt
  mirai-console/docs/Commands.md
Labels: t:feature, z:ready-to-merge, s:core

#1903 Support heartbeatStrategy in autologin config
  mirai-console/backend/mirai-console/src/internal/MiraiConsoleImplementationBridge.kt
  mirai-console/backend/mirai-console/src/internal/data/builtins/AutoLoginConfig.kt
  mirai-console/backend/mirai-console/test/configuration/AutoLoginTest.kt
  mirai-console/backend/mirai-console/test/data/PluginMovingTests.kt
Labels: t:feature, N, s:console
