Repository mamoe/mirai, pull requests merged in 2022-06, with the labels that each got.

#2078 doc(JVMPlugin.md): fix the wrong description
  mirai-console/docs/plugin/JVMPlugin.md
Labels: t:documentation, s:console

#2067 fix protocol guideline & update docs
  docs/Bots.md
  mirai-console/backend/mirai-console/src/internal/data/builtins/AutoLoginConfig.kt
Labels: t:bug, z:ready-to-merge, s:console

#2089 在 MultiFilePluginDataStorage.load 失败时，备份数据文件
  mirai-console/backend/mirai-console/src/internal/data/MultiFilePluginDataStorageImpl.kt
Labels: t:enhancement, z:ready-to-merge, s:console

#2022 mark plugin disabled when it throw exception during enable process
  mirai-console/backend/integration-test/src/AbstractTestPointAsPlugin.kt
  mirai-console/backend/integration-test/src/IntegrationTestBootstrap.kt
  mirai-console/backend/integration-test/src/utils.kt
  mirai-console/backend/integration-test/test/testpoints/plugin/PluginDependOnErrorPlugin.kt
  mirai-console/backend/integration-test/test/testpoints/plugin/PluginWithExceptionTest.kt
  mirai-console/backend/mirai-console/src/command/BuiltInCommands.kt
  mirai-console/backend/mirai-console/src/internal/MiraiConsoleImplementationBridge.kt
  mirai-console/backend/mirai-console/src/internal/plugin/BuiltInJvmPluginLoaderImpl.kt
  mirai-console/backend/mirai-console/src/internal/plugin/JvmPluginInternal.kt
  mirai-console/backend/mirai-console/src/internal/plugin/JvmPluginTesting.kt
Labels: t:enhancement, z:ready-to-merge, s:console

#2110 native: 优化 build script 及 actions，修复 ECDH 相关资源释放问题
  .github/workflows/build.yml
  buildSrc/src/main/kotlin/BinaryCompatibilityConfigurator.kt
  buildSrc/src/main/kotlin/HmppConfigure.kt
  mirai-console/tools/gradle-plugin/src/integTest/kotlin/AbstractTest.kt
  mirai-console/tools/gradle-plugin/src/integTest/kotlin/TestBuildPlugin.kt
  mirai-console/tools/gradle-plugin/src/integTest/kotlin/TestPluginApply.kt
  mirai-core-api/build.gradle.kts
  mirai-core-api/src/nativeMain/kotlin/message/data/FileMessage.kt
  mirai-core-utils/build.gradle.kts
  mirai-core/build.gradle.kts
  mirai-core/src/commonTest/kotlin/message/data/ContentEqualsTest.kt
  mirai-core/src/nativeMain/kotlin/utils/crypto/ECDH.kt
Labels: s:core
