Repository mamoe/mirai, pull requests merged in 2022-04, with the labels that each got.

#1970 fix doc
  mirai-console/docs/Commands.md
Labels: t:documentation

#1978 Typo fixed
  mirai-core-api/src/commonMain/kotlin/message/data/Image.kt
Labels: t:documentation, s:core

#1918 fix: cancel error info
  mirai-console/backend/mirai-console/src/internal/permission/AbstractConcurrentPermissionService.kt
  mirai-console/backend/mirai-console/test/permission/PermissionServiceTest.kt
Labels: M, z:ready-to-merge, s:console

#1968 Rewrite `PluginManagerImpl.sortByDependencies`
  mirai-console/backend/mirai-console/src/internal/plugin/Exceptions.kt
  mirai-console/backend/mirai-console/src/internal/plugin/PluginManagerImpl.kt
  mirai-console/backend/mirai-console/test/plugin/PluginLoadingOrderTest.kt
Labels: t:enhancement, M, z:ready-to-merge, s:console

#1987 Support `serializersModule` for `PluginData`, close #1796. Improve `P…
  mirai-console/backend/mirai-console/src/data/AbstractPluginData.kt
  mirai-console/backend/mirai-console/src/data/PluginData.kt
  mirai-console/backend/mirai-console/src/internal/data/MultiFilePluginDataStorageImpl.kt
  mirai-console/backend/mirai-console/src/internal/data/serializerHelper.kt
  mirai-console/backend/mirai-console/src/internal/data/valueFromKTypeImpl.kt
  mirai-console/backend/mirai-console/test/data/PluginDataTest.kt
  mirai-console/tools/intellij-plugin/run/projects/test-project/src/main/kotlin/org/example/myplugin/UsingDerivedMap.kt
  mirai-console/tools/intellij-plugin/src/diagnostics/PluginDataValuesChecker.kt
Labels: t:feature, s:console

#1721 Add getAvatarUrl(spec: Int) fix (#1557)
  mirai-core-api/compatibility-validation/android/api/android.api
  mirai-core-api/compatibility-validation/jvm/api/jvm.api
  mirai-core-api/src/commonMain/kotlin/contact/AvatarSpec.kt
  mirai-core-api/src/commonMain/kotlin/contact/ContactOrBot.kt
  mirai-core-api/src/commonMain/kotlin/contact/Group.kt
Labels: t:feature, N
