Repository mamoe/mirai, pull requests merged in 2022-09, with the labels that each got.

#2228 fix: watch and macOS
  mirai-core/src/commonMain/kotlin/network/protocol/packet/Tlv.kt
  mirai-core/src/commonMain/kotlin/utils/MiraiProtocolInternal.kt
Labels: z:ready-to-merge

#2209 feat: login use auto login account configuration
  mirai-console/backend/mirai-console/src/internal/command/builtin/LoginCommandImpl.kt
  mirai-console/backend/mirai-console/test/command/LoginCommandTest.kt
Labels: t:enhancement, s:console

#2161 enhance(ECDH): reconstruct ECDH
  mirai-core/build.gradle.kts
  mirai-core/src/androidMain/kotlin/utils/crypto/ECDHAndroid.kt
  mirai-core/src/androidMain/kotlin/utils/crypto/EcdhAndroid.kt
  mirai-core/src/androidTest/kotlin/test/initPlatform.android.kt
  mirai-core/src/commonMain/kotlin/network/components/AccountSecretsManager.kt
  mirai-core/src/commonMain/kotlin/network/components/EcdhInitialPublicKeyUpdater.kt
  mirai-core/src/commonMain/kotlin/network/components/PacketCodec.kt
  mirai-core/src/commonMain/kotlin/network/components/SsoProcessor.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/EncryptMethod.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/OutgoingPacket.kt
  mirai-core/src/commonMain/kotlin/utils/crypto/ECDH.kt
  mirai-core/src/commonMain/kotlin/utils/crypto/Ecdh.kt
  mirai-core/src/commonMain/kotlin/utils/crypto/QQEcdh.kt
  mirai-core/src/commonTest/kotlin/utils/crypto/EcdhTest.kt
  mirai-core/src/jvmBaseMain/kotlin/utils/crypto/ECDH.kt
  mirai-core/src/jvmBaseMain/kotlin/utils/crypto/JceEcdh.kt
  mirai-core/src/jvmBaseMain/kotlin/utils/crypto/JceEcdhWithProvider.kt
  mirai-core/src/jvmBaseMain/kotlin/utils/crypto/QQEcdhJvm.kt
  mirai-core/src/jvmMain/kotlin/utils/crypto/ECDHJvmDesktop.kt
  mirai-core/src/jvmMain/kotlin/utils/crypto/EcdhJvmDesktop.kt
  mirai-core/src/nativeMain/kotlin/utils/crypto/ECDH.kt
  mirai-core/src/nativeMain/kotlin/utils/crypto/EcdhNative.kt
  mirai-core/src/nativeMain/kotlin/utils/crypto/OpenSslEcdh.kt
  mirai-core/src/nativeMain/kotlin/utils/crypto/QQEcdhNative.kt
Labels: t:enhancement, s:core

#2244 [intellij] 从 Maven Central 获取 kotlin jvm 版本
  mirai-console/tools/intellij-plugin/src/wizard/KotlinStdlibVersion.kt
  mirai-console/tools/intellij-plugin/src/wizard/MiraiModuleBuilder.kt
  mirai-console/tools/intellij-plugin/src/wizard/MiraiProjectModel.kt
  mirai-console/tools/intellij-plugin/src/wizard/MiraiProjectWizardInitialStep.kt
Labels: t:problem, z:ready-to-merge, s:idea

#2256 [core] Introduce `Streamable` for simplified multiplatform `asFlow` a…
  mirai-core-api/compatibility-validation/android/api/android.api
  mirai-core-api/compatibility-validation/jvm/api/jvm.api
  mirai-core-api/src/commonMain/kotlin/contact/active/GroupActive.kt
  mirai-core-api/src/commonMain/kotlin/contact/announcement/Announcements.kt
  mirai-core-api/src/commonMain/kotlin/utils/Streamable.kt
  mirai-core-api/src/jvmBaseMain/kotlin/contact/active/GroupActive.kt
  mirai-core-api/src/jvmBaseMain/kotlin/contact/announcement/Announcements.kt
  mirai-core-api/src/jvmBaseMain/kotlin/utils/Streamable.kt
  mirai-core-api/src/nativeMain/kotlin/contact/active/GroupActive.kt
  mirai-core-api/src/nativeMain/kotlin/contact/announcement/Announcements.kt
  mirai-core-api/src/nativeMain/kotlin/utils/Streamable.kt
  mirai-core-mock/src/internal/contact/MockAnnouncementsImpl.kt
  mirai-core/src/commonMain/kotlin/contact/announcement/AnnouncementsImpl.kt
  mirai-core/src/commonMain/kotlin/network/highway/ChunkedFlowSession.kt
Labels: s:core
