Repository mamoe/mirai, pull requests merged in 2022-07, with the labels that each got.

#2114 Fix broken image and gif issue
  mirai-core/src/commonMain/kotlin/contact/AbstractUser.kt
  mirai-core/src/commonMain/kotlin/contact/GroupImpl.kt
  mirai-core/src/commonMain/kotlin/message/image/InternalImageProtocolImpl.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/image/ImgStore.kt
Labels: t:bug, x:protocol, z:ready-to-merge, s:core

#2159 Rewrite message serializers
  mirai-core-api/compatibility-validation/android/api/android.api
  mirai-core-api/compatibility-validation/jvm/api/jvm.api
  mirai-core-api/src/commonMain/kotlin/internal/message/AbstractPolymorphicSerializer.kt
  mirai-core-api/src/commonMain/kotlin/message/data/Image.kt
  mirai-core-api/src/commonMain/kotlin/message/data/MarketFace.kt
  mirai-core-api/src/commonMain/kotlin/message/data/MessageSource.kt
  mirai-core-api/src/commonMain/kotlin/message/data/QuoteReply.kt
  mirai-core/src/commonMain/kotlin/message/data/MarketFaceImpl.kt
  mirai-core/src/commonMain/kotlin/message/protocol/impl/ImageProtocol.kt
  mirai-core/src/commonMain/kotlin/message/protocol/impl/MarketFaceProtocol.kt
  mirai-core/src/commonMain/kotlin/message/protocol/impl/MusicShareProtocol.kt
  mirai-core/src/commonMain/kotlin/message/protocol/impl/QuoteReplyProtocol.kt
  mirai-core/src/commonMain/kotlin/message/protocol/serialization/MessageSerializer.kt
  mirai-core/src/commonMain/kotlin/message/source/incomingSourceImpl.kt
  mirai-core/src/commonMain/kotlin/message/source/offlineSourceImpl.kt
  mirai-core/src/commonMain/kotlin/message/source/outgoingSourceImpl.kt
  mirai-core/src/commonTest/kotlin/message/data/MessageSerializationTest.kt
  mirai-core/src/commonTest/kotlin/message/protocol/impl/AbstractMessageProtocolTest.kt
  mirai-core/src/commonTest/kotlin/message/protocol/impl/CustomMessageProtocolTest.kt
  mirai-core/src/commonTest/kotlin/message/protocol/impl/FaceProtocolTest.kt
  mirai-core/src/commonTest/kotlin/message/protocol/impl/FileMessageProtocolTest.kt
  mirai-core/src/commonTest/kotlin/message/protocol/impl/FlashImageProtocolTest.kt
  mirai-core/src/commonTest/kotlin/message/protocol/impl/ForwardMessageProtocolTest.kt
  mirai-core/src/commonTest/kotlin/message/protocol/impl/ImageProtocolTest.kt
  mirai-core/src/commonTest/kotlin/message/protocol/impl/LongMessageProtocolTest.kt
  mirai-core/src/commonTest/kotlin/message/protocol/impl/MarketFaceProtocolTest.kt
  mirai-core/src/commonTest/kotlin/message/protocol/impl/MusicShareProtocolTest.kt
  mirai-core/src/commonTest/kotlin/message/protocol/impl/PokeMessageProtocolTest.kt
  mirai-core/src/commonTest/kotlin/message/protocol/impl/QuoteReplyProtocolTest.kt
  mirai-core/src/commonTest/kotlin/message/protocol/impl/RichMessageProtocolTest.kt
  mirai-core/src/commonTest/kotlin/message/protocol/impl/TextProtocolTest.kt
  mirai-core/src/commonTest/kotlin/message/protocol/impl/VipFaceProtocolTest.kt
  mirai-core/src/commonTest/kotlin/message/serialization/AbstractMessageSerializationTest.kt
Labels: s:core

#2105 Fix CommandSender extensions
  mirai-console/backend/mirai-console/compatibility-validation/jvm/api/jvm.api
  mirai-console/backend/mirai-console/src/command/CommandSender.kt
Labels: N, z:ready-to-merge, s:console, x:behavior-change

#2036 在 Image 序列化时支持全部属性
  mirai-core-api/compatibility-validation/android/api/android.api
  mirai-core-api/compatibility-validation/jvm/api/jvm.api
  mirai-core-api/src/commonMain/kotlin/message/data/Image.kt
  mirai-core/src/commonTest/kotlin/message/data/MessageSerializationTest.kt
Labels: t:feature, z:ready-to-merge, s:core

#1760 支持 vararg 和原生类型数组命令参数
  mirai-console/backend/mirai-console/compatibility-validation/jvm/api/jvm.api
  mirai-console/backend/mirai-console/src/command/descriptor/CommandParameter.kt
  mirai-console/backend/mirai-console/src/command/parse/CommandValueArgument.kt
  mirai-console/backend/mirai-console/src/command/resolve/ResolvedCommandCall.kt
  mirai-console/backend/mirai-console/test/command/InstanceTestCommand.kt
Labels: t:bug, N
