Repository mamoe/mirai, pull requests merged in 2022-11, with the labels that each got.

#2255 feat: Announcement confirmed member api
  mirai-core-api/compatibility-validation/android/api/android.api
  mirai-core-api/compatibility-validation/jvm/api/jvm.api
  mirai-core-api/src/commonMain/kotlin/contact/announcement/Announcements.kt
  mirai-core-api/src/commonMain/kotlin/contact/announcement/OnlineAnnouncement.kt
  mirai-core-mock/src/internal/contact/MockAnnouncementsImpl.kt
  mirai-core/src/commonMain/kotlin/contact/announcement/AnnouncementsImpl.kt
  mirai-core/src/commonMain/kotlin/contact/announcement/GroupAnnouncement.kt
Labels: t:feature, x:protocol, z:ready-to-merge, s:core

#2354 修复 java.lang.NoSuchMethodError
  mirai-console/backend/mirai-console/src/internal/plugin/JvmPluginInternal.kt
Labels: t:bug, z:ready-to-merge, s:console

#2358 [console/plugin] Fix multi-dependency-repositories not working
  mirai-console/backend/mirai-console/src/internal/plugin/JvmPluginDependencyDownload.kt
Labels: t:bug, M, z:ready-to-merge, s:console
