Repository mamoe/mirai, pull requests merged in 2023-01, with the labels that each got.

#2388 [core] Introduce CacheValidator for validating caches
  mirai-core-api/src/commonMain/kotlin/utils/DeviceInfo.kt
  mirai-core/src/commonMain/kotlin/QQAndroidBot.kt
  mirai-core/src/commonMain/kotlin/network/components/AccountSecretsManager.kt
  mirai-core/src/commonMain/kotlin/network/components/BdhSessionSyncer.kt
  mirai-core/src/commonMain/kotlin/network/components/CacheValidator.kt
  mirai-core/src/commonMain/kotlin/network/components/SsoProcessor.kt
Labels: t:enhancement, N, z:ready-to-merge, s:core

#2220 add: 石头剪刀布 表情
  docs/Messages.md
  mirai-core-api/compatibility-validation/android/api/android.api
  mirai-core-api/compatibility-validation/jvm/api/jvm.api
  mirai-core-api/src/commonMain/kotlin/message/code/internal/impl.kt
  mirai-core-api/src/commonMain/kotlin/message/data/RockPaperScissors.kt
  mirai-core-api/src/commonMain/kotlin/message/data/visitor/MessageVisitor.kt
  mirai-core-api/src/commonTest/kotlin/message.data/MessageVisitorTest.kt
  mirai-core/src/commonMain/kotlin/message/protocol/impl/MarketFaceProtocol.kt
  mirai-core/src/commonTest/kotlin/message/code/TestMiraiCode.kt
  mirai-core/src/commonTest/kotlin/message/data/MessageSerializationTest.kt
  mirai-core/src/commonTest/kotlin/message/protocol/impl/MarketFaceProtocolTest.kt
Labels: t:feature, x:protocol, z:ready-to-merge, s:core

#2419 Generate and handle tgtgtKey correctly, fix #2418
  mirai-core/src/commonMain/kotlin/network/components/AccountSecretsManager.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/Tlv.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/WtLogin.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/wtlogin/WtLogin15.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/wtlogin/WtLogin9.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/wtlogin/WtLoginExt.kt
Labels: t:bug, x:protocol, C, s:core

#2420 fix MockNormalMember modify admin
  mirai-core-mock/src/internal/contact/MockGroupImpl.kt
  mirai-core-mock/src/internal/contact/MockNormalMemberImpl.kt
  mirai-core-mock/test/mock/MockMemberTest.kt
Labels: t:bug, M, z:ready-to-merge, s:mock

#2421 [mock] Fix message recalling
  mirai-core-mock/src/MockActions.kt
  mirai-core-mock/src/internal/MockMiraiImpl.kt
  mirai-core-mock/test/MockBotTestBase.kt
  mirai-core-mock/test/TestBase.kt
  mirai-core-mock/test/mock/MessagingTest.kt
Labels: t:bug, s:mock

#2436 add implement of md5 and sha1 for MockAbsoluteFile
  mirai-core-mock/src/internal/remotefile/absolutefile/MockAbsoluteFolder.kt
  mirai-core-mock/test/AbsoluteFileTest.kt
Labels: z:ready-to-merge, s:mock

#2457 修改注释
  mirai-console/backend/mirai-console/src/command/CommandSender.kt
Labels: s:console
