Repository mamoe/mirai, pull requests merged in 2023-03, with the labels that each got.

#2474 修复在Android系统运行时，被杀后台时抛出的 InterruptedException 导致崩溃
  mirai-console/backend/mirai-console/src/MiraiConsoleImplementation.kt
Labels: t:problem, s:console

#2547 修改BotNudgedEvent为NudgeEvent
  docs/EventList.md
Labels: t:documentation, s:core

#2511 Add fallback solution for Services
  mirai-core-utils/src/commonMain/kotlin/Services.kt
  mirai-core-utils/src/jvmBaseMain/kotlin/Services.kt
  mirai-core-utils/src/nativeMain/kotlin/Service.kt
  mirai-core/src/commonMain/kotlin/utils/MiraiCoreServices.kt
  mirai-core/src/jvmBaseMain/kotlin/MiraiImpl.kt
Labels: t:feature, s:core

#2536 修复JvmPlugin无法通过自己的classLoader以getResource的方法获取全局依赖的class文件
  mirai-console/backend/integration-test/testers/service-loader/service-loader-2dep-plugin/src/PMain.kt
  mirai-console/backend/mirai-console/compatibility-validation/jvm/api/jvm.api
  mirai-console/backend/mirai-console/src/internal/plugin/JvmPluginClassLoader.kt
  mirai-console/backend/mirai-console/src/plugin/jvm/JvmPluginClasspath.kt
  mirai-core-utils/src/jvmBaseMain/kotlin/Collections.kt
Labels: z:ready-to-merge, s:console

#2502 QRCode login support & Introduce new authorization factory
  mirai-console/backend/mirai-console/compatibility-validation/jvm/api/jvm.api
  mirai-console/backend/mirai-console/src/MiraiConsole.kt
  mirai-console/backend/mirai-console/src/internal/MiraiConsoleImplementationBridge.kt
  mirai-console/backend/mirai-console/src/internal/auth/ConsoleBotAuthorization.kt
  mirai-console/backend/mirai-console/src/internal/auth/ConsoleSecretsCalculator.kt
  mirai-console/backend/mirai-console/test/command/LoginCommandTest.kt
  mirai-core-api/compatibility-validation/android/api/android.api
  mirai-core-api/compatibility-validation/jvm/api/jvm.api
  mirai-core-api/src/commonMain/kotlin/BotFactory.kt
  mirai-core-api/src/commonMain/kotlin/auth/BotAuthorization.kt
  mirai-core-api/src/commonMain/kotlin/auth/QRCodeLoginListener.kt
  mirai-core-api/src/commonMain/kotlin/network/LoginFailedException.kt
  mirai-core-api/src/commonMain/kotlin/utils/LoginSolver.kt
  mirai-core-api/src/jvmMain/kotlin/utils/LoginSolver.jvm.kt
  mirai-core-mock/src/internal/MockBotFactoryImpl.kt
  mirai-core-utils/src/commonMain/kotlin/SecretsProtection.kt
  mirai-core-utils/src/jvmBaseMain/kotlin/SecretsProtection.kt
  mirai-core-utils/src/jvmTest/kotlin/SecretsProtectionTest.kt
  mirai-core-utils/src/nativeMain/kotlin/SecretsProtection.kt
  mirai-core/src/commonMain/kotlin/BotAccount.kt
  mirai-core/src/commonMain/kotlin/BotFactory.kt
  mirai-core/src/commonMain/kotlin/QQAndroidBot.kt
  mirai-core/src/commonMain/kotlin/network/QQAndroidClient.kt
  mirai-core/src/commonMain/kotlin/network/auth/AuthControl.kt
  mirai-core/src/commonMain/kotlin/network/auth/BotAuthSession.kt
  mirai-core/src/commonMain/kotlin/network/auth/CoroutineOnDemandValueScope.kt
  mirai-core/src/commonMain/kotlin/network/auth/DefaultBotAuthorizationFactoryImpl.kt
  mirai-core/src/commonMain/kotlin/network/auth/Latch.kt
  mirai-core/src/commonMain/kotlin/network/auth/OnDemandValueScope.kt
  mirai-core/src/commonMain/kotlin/network/auth/ProducerState.kt
  mirai-core/src/commonMain/kotlin/network/components/AccountSecretsManager.kt
  mirai-core/src/commonMain/kotlin/network/components/BotClientHolder.kt
  mirai-core/src/commonMain/kotlin/network/components/PacketCodec.kt
  mirai-core/src/commonMain/kotlin/network/components/QRCodeLoginProcessor.kt
  mirai-core/src/commonMain/kotlin/network/components/SsoProcessor.kt
  mirai-core/src/commonMain/kotlin/network/handler/CommonNetworkHandler.kt
  mirai-core/src/commonMain/kotlin/network/handler/selector/SelectorRequireReconnectException.kt
  mirai-core/src/commonMain/kotlin/network/keys.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/OutgoingPacket.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/PacketFactory.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/Tlv.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/WtLogin.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/wtlogin/WtLogin15.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/wtlogin/WtLogin9.kt
  mirai-core/src/commonMain/kotlin/utils/MiraiCoreServices.kt
  mirai-core/src/commonMain/kotlin/utils/MiraiProtocolInternal.kt
  mirai-core/src/commonMain/resources/META-INF/services/net.mamoe.mirai.auth.DefaultBotAuthorizationFactory
  mirai-core/src/commonTest/kotlin/network/component/BotAuthControlTest.kt
  mirai-core/src/commonTest/kotlin/network/framework/AbstractRealNetworkHandlerTest.kt
  mirai-core/src/jvmBaseMain/kotlin/BotAccount.kt
  mirai-core/src/jvmBaseMain/kotlin/network/handler/selector/SelectorRequireReconnectException.kt
  mirai-core/src/jvmTest/kotlin/directboot/DebugRunHelper.kt
  mirai-core/src/nativeMain/kotlin/BotAccount.kt
  mirai-core/src/nativeMain/kotlin/network/handler/selector/SelectorRequireReconnectException.kt
Labels: t:feature, x:protocol, s:core

#2525 修复发送消息时实际发送的消息会忽略通过 `MessagePreSendEvent` 所进行的修改
  mirai-core/src/commonMain/kotlin/contact/AbstractUser.kt
Labels: t:bug, N, s:core

#2572 在文档注释手表协议不支持戳一戳事件
  mirai-console/docs/BuiltInCommands.md
Labels: t:documentation

#2450 Handle rare case on packet pipeline
  mirai-core/src/commonMain/kotlin/network/components/PacketCodec.kt
Labels: t:enhancement, z:ready-to-merge, s:core

#2530 fix: announce unread
  mirai-core/src/commonMain/kotlin/contact/announcement/AnnouncementsImpl.kt
Labels: t:bug, x:protocol, M, s:core

#2314 feat: essence message setting
  mirai-core-api/compatibility-validation/android/api/android.api
  mirai-core-api/compatibility-validation/jvm/api/jvm.api
  mirai-core-api/src/commonMain/kotlin/contact/Group.kt
  mirai-core-api/src/commonMain/kotlin/contact/essence/EssenceMessageRecord.kt
  mirai-core-api/src/commonMain/kotlin/contact/essence/Essences.kt
  mirai-core-mock/src/contact/essence/MockEssences.kt
  mirai-core-mock/src/internal/contact/MockGroupImpl.kt
  mirai-core-mock/src/internal/contact/essence/MockEssences.kt
  mirai-core/src/commonMain/kotlin/contact/GroupImpl.kt
  mirai-core/src/commonMain/kotlin/contact/essence/EssencesImpl.kt
  mirai-core/src/commonMain/kotlin/contact/essence/GroupDigestProtocol.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/PacketFactory.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/TroopEssenceMsgManager.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/TroopManagement.kt
Labels: t:feature, x:protocol, z:ready-to-merge, s:core

#2541 完善了用户文档部分的内容
  README.md
  docs/UserManual.md
Labels: t:documentation

#2583 [core] Commonize BotConfiguration, simplify MPP hierarchy:
  mirai-core-api/compatibility-validation/android/api/android.api
  mirai-core-api/compatibility-validation/jvm/api/jvm.api
  mirai-core-api/src/commonMain/kotlin/utils/AbstractBotConfiguration.kt
  mirai-core-api/src/commonMain/kotlin/utils/BotConfiguration.kt
  mirai-core-api/src/jvmBaseMain/kotlin/utils/BotConfiguration.kt
  mirai-core-api/src/nativeMain/kotlin/utils/BotConfiguration.kt
Labels: z:ready-to-merge, s:core

#2584 Add missed refresh token logic for OnlinePush.SidTicketExpired
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/receive/OnlinePush.SidExpired.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/wtlogin/WtLogin10.kt
Labels: z:ready-to-merge, s:core

#2498 支持使用 json 保存与读取 `PluginData` 与 `PluginConfig`
  mirai-console/backend/mirai-console/compatibility-validation/jvm/api/jvm.api
  mirai-console/backend/mirai-console/src/data/PluginData.kt
  mirai-console/backend/mirai-console/src/internal/data/MultiFilePluginDataStorageImpl.kt
  mirai-console/backend/mirai-console/test/data/MultiFilePluginDataStorageImplTests.kt
Labels: t:feature, s:console

#2590 Fix token not saving after refresh token
  mirai-core/src/commonMain/kotlin/network/components/KeyRefreshProcessor.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/receive/OnlinePush.SidExpired.kt
Labels: M, s:core

#2582 [Mock] image isUploaded
  mirai-core-mock/src/internal/MockMiraiImpl.kt
  mirai-core-mock/src/internal/contact/util.kt
  mirai-core-mock/src/internal/serverfs/TmpResourceServerImpl.kt
  mirai-core-mock/src/resserver/TmpResourceServer.kt
  mirai-core-mock/test/ImageUploadTest.kt
Labels: s:mock

#2569 Tlv writer
  mirai-core-utils/src/commonMain/kotlin/IO.kt
  mirai-core-utils/src/commonMain/kotlin/TlvMap.kt
  mirai-core-utils/src/commonTest/kotlin/net/mamoe/mirai/utils/TlvMapTest.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/Tlv.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/WtLogin.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/wtlogin/WtLogin10.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/wtlogin/WtLogin15.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/wtlogin/WtLogin2.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/wtlogin/WtLogin20.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/wtlogin/WtLogin7.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/wtlogin/WtLogin8.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/wtlogin/WtLogin9.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/wtlogin/WtLoginExt.kt
Labels: x:protocol, M, s:core

#2473 fix mockHonorMember
  mirai-core-mock/src/contact/MockGroup.kt
  mirai-core-mock/src/contact/active/MockGroupActive.kt
  mirai-core-mock/src/internal/contact/MockGroupImpl.kt
  mirai-core-mock/src/internal/contact/active/MockGroupActive.kt
  mirai-core-mock/test/mock/MockGroupTest.kt
Labels: s:mock
