Repository mamoe/mirai, pull requests merged in 2023-02, with the labels that each got.

#2506 修改mirai-console/docs执行指令部分
  mirai-console/docs/Commands.md
Labels: t:documentation, s:console

#2428 fix: load service
  mirai-core-utils/src/jvmBaseMain/kotlin/Services.kt
Labels: s:core

#2516 使用自增序号作为预览版本号
  .github/workflows/build.yml
  ci-release-helper/build.gradle.kts
  ci-release-helper/src/buildIndex/Index.kt
  ci-release-helper/src/buildIndex/SnapshotVersions.kt
  docs/.images/snapshots-build-jvm.png
  docs/.images/snapshots-find-actions.png
  docs/UsingSnapshots.md
Labels: z:ready-to-merge

#2446 add: console event impl
  mirai-console/backend/mirai-console/compatibility-validation/jvm/api/jvm.api
  mirai-console/backend/mirai-console/src/events/AutoLoginEvent.kt
  mirai-console/backend/mirai-console/src/events/StartupEvent.kt
  mirai-console/backend/mirai-console/src/internal/MiraiConsoleImplementationBridge.kt
Labels: t:feature, s:console

#2505 Handle TimeoutCancellationException when resuming connection
  mirai-core/src/commonMain/kotlin/network/handler/selector/AbstractKeepAliveNetworkHandlerSelector.kt
  mirai-core/src/commonTest/kotlin/network/impl/common/CommonNHBotNormalLoginTest.kt
Labels: t:bug, M, s:core

#2512 fix: announcements cookie
  mirai-core/src/commonMain/kotlin/contact/announcement/AnnouncementsImpl.kt
Labels: t:bug, z:ready-to-merge, s:core

#2528 修复使用 Console 扩展时，对于扩展的函数返回非 null 值报错的情况
  mirai-console/backend/mirai-console/src/command/resolve/CommandCallInterceptor.kt
Labels: t:bug, M, s:console
