Repository mamoe/mirai, pull requests merged in 2023-05, with the labels that each got.

#2639 Update docs
  docs/.conf/nav.js
  docs/Bots.md
  docs/ConsoleTerminal.md
  docs/EventList.md
  docs/Preparations.md
  docs/Questions.md
  docs/UserManual.md
Labels: t:documentation, z:ready-to-merge

#2658 [core] Simplify and stabilize BaseService and AudioToSilkService
  mirai-core-api/compatibility-validation/android/api/android.api
  mirai-core-api/compatibility-validation/jvm/api/jvm.api
  mirai-core-api/src/commonMain/kotlin/spi/AudioToSilkService.kt
  mirai-core-api/src/commonMain/kotlin/spi/SPIServiceLoader.kt
  mirai-core-api/src/jvmBaseMain/kotlin/spi/SPIServiceLoader.kt
  mirai-core-api/src/nativeMain/kotlin/spi/SPIServiceLoader.kt
  mirai-core/src/commonMain/kotlin/contact/FriendImpl.kt
  mirai-core/src/commonMain/kotlin/contact/GroupImpl.kt
Labels: s:core

#2613 [core] update login protocol
  mirai-core-api/compatibility-validation/android/api/android.api
  mirai-core-api/compatibility-validation/jvm/api/jvm.api
  mirai-core-api/src/commonMain/kotlin/utils/DeviceInfo.kt
  mirai-core-api/src/commonMain/kotlin/utils/DeviceInfoManager.kt
  mirai-core-api/src/commonMain/kotlin/utils/DeviceInfoV1LegacySerializer.kt
  mirai-core-api/src/commonTest/kotlin/utils/DeviceInfoTest.kt
  mirai-core-api/src/commonTest/resources/device/legacy-device-info-1.json
  mirai-core-api/src/jvmBaseMain/kotlin/utils/DeviceInfo.kt
  mirai-core-api/src/jvmBaseTest/kotlin/utils/JvmDeviceInfoTest.kt
  mirai-core-api/src/jvmTest/kotlin/utils/JvmDeviceInfoTestJvm.kt
  mirai-core-api/src/nativeMain/kotlin/utils/BotConfiguration.kt
  mirai-core-api/src/nativeMain/kotlin/utils/DeviceInfo.kt
  mirai-core-utils/src/commonMain/kotlin/TimeUtils.kt
  mirai-core-utils/src/jvmBaseMain/kotlin/TimeUtils.kt
  mirai-core-utils/src/nativeMain/kotlin/TimeUtils.kt
  mirai-core-utils/src/nativeTest/kotlin/TimeUtilsTest.kt
  mirai-core/src/commonMain/kotlin/network/QQAndroidClient.kt
  mirai-core/src/commonMain/kotlin/network/components/CacheValidator.kt
  mirai-core/src/commonMain/kotlin/network/components/SsoProcessor.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/Tlv.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/WtLogin.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/wtlogin/WtLogin10.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/wtlogin/WtLogin15.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/wtlogin/WtLogin8.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/login/wtlogin/WtLogin9.kt
  mirai-core/src/commonMain/kotlin/network/qimei/Qimei.kt
  mirai-core/src/commonMain/kotlin/utils/MiraiProtocolInternal.kt
  mirai-core/src/commonMain/kotlin/utils/crypto/AES.kt
  mirai-core/src/commonMain/kotlin/utils/crypto/RSA.kt
  mirai-core/src/commonTest/kotlin/utils/crypto/AESTest.kt
  mirai-core/src/commonTest/kotlin/utils/crypto/RSATest.kt
  mirai-core/src/jvmBaseMain/kotlin/utils/crypto/AES.kt
  mirai-core/src/jvmBaseMain/kotlin/utils/crypto/RSA.kt
  mirai-core/src/nativeMain/cinterop/OpenSSL.def
  mirai-core/src/nativeMain/kotlin/utils/crypto/AESNative.kt
  mirai-core/src/nativeMain/kotlin/utils/crypto/RSANative.kt
  mirai-core/src/nativeMain/kotlin/utils/freePointer.kt
  mirai-core/src/nativeMain/kotlin/utils/getOpenSSLError.kt
  mirai-core/src/nativeMain/kotlin/utils/ref.kt
Labels: z:ready-to-merge, s:core

#2666 [console] 优化插件 classpath 策略
  mirai-console/backend/integration-test/build.gradle.kts
  mirai-console/backend/integration-test/testers/options-properties/independent-plugin/.nested-module.txt
  mirai-console/backend/integration-test/testers/options-properties/independent-plugin/resources/META-INF/services/net.mamoe.mirai.console.plugin.jvm.JvmPlugin
  mirai-console/backend/integration-test/testers/options-properties/independent-plugin/src/Independent.kt
  mirai-console/backend/integration-test/testers/options-properties/resources/META-INF/mirai-console-plugin/options.properties
  mirai-console/backend/integration-test/testers/options-properties/resources/META-INF/services/net.mamoe.mirai.console.plugin.jvm.JvmPlugin
  mirai-console/backend/integration-test/testers/options-properties/src/OptionsProperties.kt
  mirai-console/backend/mirai-console/compatibility-validation/jvm/api/jvm.api
  mirai-console/backend/mirai-console/src/internal/plugin/JvmPluginClassLoader.kt
  mirai-console/backend/mirai-console/src/plugin/jvm/JvmPluginClasspath.kt
  mirai-console/docs/plugin/JVMPlugin.md
  mirai-console/docs/plugin/images/CreateResourcesDir.png
Labels: t:enhancement, t:feature, z:ready-to-merge, s:console

#2672 fix: digest message
  mirai-core/src/commonMain/kotlin/contact/essence/EssencesImpl.kt
  mirai-core/src/commonMain/kotlin/contact/essence/GroupDigestProtocol.kt
Labels: t:bug, s:core

#2675 [core] ForwardMessage refine by light app
  mirai-core/src/commonMain/kotlin/message/data/lightApp.kt
Labels: x:protocol, M, t:problem, s:core

#2674 [core] Add DeviceInfoBuilder. Close #2669
  mirai-core-api/compatibility-validation/android/api/android.api
  mirai-core-api/compatibility-validation/jvm/api/jvm.api
  mirai-core-api/src/commonMain/kotlin/utils/DeviceInfo.kt
  mirai-core-api/src/commonMain/kotlin/utils/DeviceInfoBuilder.kt
  mirai-core-api/src/jvmBaseMain/kotlin/utils/DeviceInfo.kt
  mirai-core-api/src/nativeMain/kotlin/utils/DeviceInfo.kt
Labels: s:core
