Repository mamoe/mirai, pull requests merged in 2023-07, with the labels that each got.

#2721 update: Questions.md 23-07-03
  docs/Questions.md
Labels: t:documentation

#2749 [core] Fix qimei request payload
  mirai-core/src/commonMain/kotlin/network/qimei/Qimei.kt
Labels: x:protocol, t:problem, s:core

#2735 [console] Load plugins with plugin.yml
  mirai-console/backend/integration-test/testers/plugin-with-pluginyml-can-use-libraries-while-clinit/clinit-library/.nested-module.txt
  mirai-console/backend/integration-test/testers/plugin-with-pluginyml-can-use-libraries-while-clinit/clinit-library/resources/mvn.txt
  mirai-console/backend/integration-test/testers/plugin-with-pluginyml-can-use-libraries-while-clinit/clinit-library/src/PluginLibrary.kt
  mirai-console/backend/integration-test/testers/plugin-with-pluginyml-can-use-libraries-while-clinit/resources/META-INF/mirai-console-plugin/dependencies-private.txt
  mirai-console/backend/integration-test/testers/plugin-with-pluginyml-can-use-libraries-while-clinit/resources/META-INF/services/net.mamoe.mirai.console.plugin.jvm.JvmPlugin
  mirai-console/backend/integration-test/testers/plugin-with-pluginyml-can-use-libraries-while-clinit/resources/plugin.yml
  mirai-console/backend/integration-test/testers/plugin-with-pluginyml-can-use-libraries-while-clinit/src/PluginWithPluginYmlClinitTest.kt
  mirai-console/backend/integration-test/testers/plugin-with-pluginyml/resources/META-INF/services/net.mamoe.mirai.console.plugin.jvm.JvmPlugin
  mirai-console/backend/integration-test/testers/plugin-with-pluginyml/resources/plugin.yml
  mirai-console/backend/integration-test/testers/plugin-with-pluginyml/src/PluginWithPluginYml.kt
  mirai-console/backend/mirai-console/compatibility-validation/jvm/api/jvm.api
  mirai-console/backend/mirai-console/src/internal/plugin/BuiltInJvmPluginLoaderImpl.kt
  mirai-console/backend/mirai-console/src/internal/plugin/JvmPluginClassLoader.kt
  mirai-console/backend/mirai-console/src/internal/plugin/JvmPluginInternal.kt
  mirai-console/backend/mirai-console/src/internal/plugin/NotYetLoadedJvmPlugin.kt
  mirai-console/backend/mirai-console/src/internal/plugin/PluginManagerImpl.kt
  mirai-console/backend/mirai-console/src/plugin/NotYetLoadedPlugin.kt
  mirai-console/backend/mirai-console/src/plugin/jvm/AbstractJvmPlugin.kt
  mirai-console/backend/mirai-console/src/plugin/jvm/JavaPlugin.kt
  mirai-console/backend/mirai-console/src/plugin/jvm/KotlinPlugin.kt
Labels: t:feature, t:problem, s:console

#2701 move org.slf4j.spi.SLF4JServiceProvider
  mirai-console/backend/mirai-console/testResources/META-INF/services/org.slf4j.spi.SLF4JServiceProvider
  mirai-console/frontend/mirai-console-frontend-base/resources/META-INF/services/org.slf4j.spi.SLF4JServiceProvider
Labels: N, t:task, z:ready-to-merge, s:console

#2703 [console] Pre check plugin duplication & console requirement
  mirai-console/backend/integration-test/testers/plugin-can-depends-on-mirai-console/resources/META-INF/services/net.mamoe.mirai.console.plugin.jvm.JvmPlugin
  mirai-console/backend/integration-test/testers/plugin-can-depends-on-mirai-console/src/PluginCanDependsOnMiraiConsole.kt
  mirai-console/backend/mirai-console/src/command/BuiltInCommands.kt
  mirai-console/backend/mirai-console/src/internal/plugin/BuiltInJvmPluginLoaderImpl.kt
  mirai-console/backend/mirai-console/src/internal/plugin/MiraiConsoleAsPlugin.kt
  mirai-console/backend/mirai-console/src/internal/plugin/PluginManagerImpl.kt
  mirai-console/backend/mirai-console/src/plugin/description/PluginDescription.kt
  mirai-console/backend/mirai-console/test/testFramework/test/FrameworkInstanceTest.kt
Labels: t:enhancement, z:ready-to-merge, s:console

#2750 feat: AutoLoginEvent.toString
  mirai-console/backend/mirai-console/compatibility-validation/jvm/api/jvm.api
  mirai-console/backend/mirai-console/src/events/AutoLoginEvent.kt
Labels: t:enhancement, z:ready-to-merge, s:console
