Repository mamoe/mirai, pull requests merged in 2023-08, with the labels that each got.

#2762 [console] fix PermitteeId.hasChild
  mirai-console/backend/mirai-console/compatibility-validation/jvm/api/jvm.api
  mirai-console/backend/mirai-console/src/internal/permission/AbstractConcurrentPermissionService.kt
  mirai-console/backend/mirai-console/src/permission/PermitteeId.kt
Labels: t:bug, M, s:console

#2761 [core]修复从可确定图片类型的字符串组成的mirai code构造的图片type为UNKNOW或与期望类型不一致
  mirai-core-api/src/commonMain/kotlin/message/data/Image.kt
  mirai-core/src/commonTest/kotlin/message/ImageBuilderTest.kt
  mirai-core/src/commonTest/kotlin/message/protocol/impl/LongMessageProtocolTest.kt
Labels: t:bug, s:core

#2725 fix: ci upload
  .github/workflows/build.yml
Labels: s:build

#2772 [core] Remove jvmBase target
  mirai-core-api/build.gradle.kts
  mirai-core-api/src/commonMain/kotlin/contact/Contact.kt
  mirai-core-api/src/commonMain/kotlin/contact/FileSupported.kt
  mirai-core-api/src/commonMain/kotlin/contact/file/AbsoluteFolder.kt
  mirai-core-api/src/commonMain/kotlin/contact/roaming/RoamingMessages.kt
  mirai-core-api/src/commonMain/kotlin/event/EventChannel.kt
  mirai-core-api/src/commonMain/kotlin/event/JvmMethodListeners.kt
  mirai-core-api/src/commonMain/kotlin/event/MessageSelectBuilderUnit.kt
  mirai-core-api/src/commonMain/kotlin/event/deprecated.nextEvent.kt
  mirai-core-api/src/commonMain/kotlin/event/deprecated.nextEventAsync.kt
  mirai-core-api/src/commonMain/kotlin/event/deprecated.syncFromEvent.kt
  mirai-core-api/src/commonMain/kotlin/internal/event/JvmMethodListenersInternal.kt
  mirai-core-api/src/commonMain/kotlin/internal/message/MessageSerializersImpl.kt
  mirai-core-api/src/commonMain/kotlin/internal/utils/ExternalResourceImpls.kt
  mirai-core-api/src/commonMain/kotlin/internal/utils/ExternalResourceLeakObserver.kt
  mirai-core-api/src/commonMain/kotlin/internal/utils/LoggerAdapterImpls.kt
  mirai-core-api/src/commonMain/kotlin/internal/utils/Marker.kt
  mirai-core-api/src/commonMain/kotlin/internal/utils/MarkerManager.kt
  mirai-core-api/src/commonMain/kotlin/message/action/AsyncRecallResult.kt
  mirai-core-api/src/commonMain/kotlin/message/data/FileMessage.kt
  mirai-core-api/src/commonMain/kotlin/message/data/MessageChain.kt
  mirai-core-api/src/commonMain/kotlin/utils/AbstractBotConfiguration.kt
  mirai-core-api/src/commonMain/kotlin/utils/AbstractExternalResource.kt
  mirai-core-api/src/commonMain/kotlin/utils/ExternalResource.kt
  mirai-core-api/src/commonMain/kotlin/utils/FileCacheStrategy.kt
  mirai-core-api/src/commonMain/kotlin/utils/FileLogger.kt
  mirai-core-api/src/commonMain/kotlin/utils/LoggerAdapters.kt
  mirai-core-api/src/commonMain/kotlin/utils/MiraiLogger.kt
  mirai-core-api/src/commonMain/kotlin/utils/MiraiLoggerFactoryImplementationBridge.kt
  mirai-core-api/src/commonMain/kotlin/utils/RemoteFile.kt
  mirai-core-api/src/commonMain/kotlin/utils/SingleFileLogger.kt
  mirai-core-api/src/commonMain/kotlin/utils/Streamable.kt
  mirai-core-api/src/commonTest/kotlin/logging/AbstractLoggingTest.kt
  mirai-core-api/src/commonTest/kotlin/logging/Log4j2LoggingTest.kt
  mirai-core-api/src/commonTest/kotlin/logging/LoggingCompatibilityTest.kt
  mirai-core-api/src/commonTest/kotlin/message.data/MessageChainImmutableTest.kt
  mirai-core-api/src/commonTest/kotlin/utils/JvmDeviceInfoTest.kt
  mirai-core-api/src/jvmBaseMain/kotlin/contact/Contact.kt
  mirai-core-api/src/jvmBaseMain/kotlin/contact/FileSupported.kt
  mirai-core-api/src/jvmBaseMain/kotlin/contact/file/AbsoluteFolder.kt
  mirai-core-api/src/jvmBaseMain/kotlin/contact/package.kt
  mirai-core-api/src/jvmBaseMain/kotlin/contact/roaming/RoamingMessages.kt
  mirai-core-api/src/jvmBaseMain/kotlin/event/EventChannel.kt
  mirai-core-api/src/jvmBaseMain/kotlin/event/MessageSelectBuilderUnit.kt
  mirai-core-api/src/jvmBaseMain/kotlin/internal/event/JvmMethodListenersInternal.kt
  mirai-core-api/src/jvmBaseMain/kotlin/internal/message/overwritePolymorphicWith.kt
  mirai-core-api/src/jvmBaseMain/kotlin/internal/utils/Marker.kt
  mirai-core-api/src/jvmBaseMain/kotlin/message/action/AsyncRecallResult.kt
  mirai-core-api/src/jvmBaseMain/kotlin/message/data/FileMessage.kt
  mirai-core-api/src/jvmBaseMain/kotlin/message/data/MessageChainJvm.kt
  mirai-core-api/src/jvmBaseMain/kotlin/package.kt
  mirai-core-api/src/jvmBaseMain/kotlin/utils/BotConfiguration.kt
  mirai-core-api/src/jvmBaseMain/kotlin/utils/ExternalResource.kt
  mirai-core-api/src/jvmBaseMain/kotlin/utils/FileCacheStrategy.kt
  mirai-core-api/src/jvmBaseMain/kotlin/utils/MiraiLogger.kt
  mirai-core-api/src/jvmBaseMain/kotlin/utils/Streamable.kt
  mirai-core-api/src/jvmBaseTest/kotlin/package.kt
Labels: s:core

#2777 [core] 修复 `NormalMember.specialTitle` 注释中 `@see` 的错误关联显示，并完善注释
  mirai-core-api/src/commonMain/kotlin/contact/NormalMember.kt
Labels: t:documentation, s:core

#2775 [idea] feat: support IDEA 2023.2
  buildSrc/src/main/kotlin/Versions.kt
  mirai-console/tools/intellij-plugin/build.gradle.kts
  mirai-console/tools/intellij-plugin/run/projects/test-project/build.gradle.kts
  mirai-console/tools/intellij-plugin/run/projects/test-project/gradle/wrapper/gradle-wrapper.properties
  mirai-console/tools/intellij-plugin/src/diagnostics/PluginDataValuesChecker.kt
Labels: t:feature, s:idea

#2739 feature: add `ShortVideo` message support
  mirai-core-api/compatibility-validation/android/api/android.api
  mirai-core-api/compatibility-validation/jvm/api/jvm.api
  mirai-core-api/src/commonMain/kotlin/contact/Contact.kt
  mirai-core-api/src/commonMain/kotlin/event/events/ShortVideoUploadEvent.kt
  mirai-core-api/src/commonMain/kotlin/message/data/Image.kt
  mirai-core-api/src/commonMain/kotlin/message/data/ShortVideo.kt
  mirai-core-api/src/commonMain/kotlin/message/data/visitor/MessageVisitor.kt
  mirai-core-api/src/commonMain/kotlin/utils/ExternalResource.kt
  mirai-core-mock/src/internal/contact/AbstractMockContact.kt
  mirai-core-utils/src/commonMain/kotlin/Files.kt
  mirai-core/src/commonMain/kotlin/MiraiImpl.kt
  mirai-core/src/commonMain/kotlin/contact/AbstractContact.kt
  mirai-core/src/commonMain/kotlin/contact/roaming/RoamingMessagesImplGroup.kt
  mirai-core/src/commonMain/kotlin/contact/roaming/TimeBasedRoamingMessagesImpl.kt
  mirai-core/src/commonMain/kotlin/message/ReceiveMessageHandler.kt
  mirai-core/src/commonMain/kotlin/message/RefinableMessage.kt
  mirai-core/src/commonMain/kotlin/message/data/shortVideo.kt
  mirai-core/src/commonMain/kotlin/message/image/InternalShortVideoProtocolImpl.kt
  mirai-core/src/commonMain/kotlin/message/protocol/MessageProtocolFacade.kt
  mirai-core/src/commonMain/kotlin/message/protocol/decode/MessageDecoderPipeline.kt
  mirai-core/src/commonMain/kotlin/message/protocol/impl/ShortVideoProtocol.kt
  mirai-core/src/commonMain/kotlin/message/source/offlineSourceImpl.kt
  mirai-core/src/commonMain/kotlin/network/highway/Highway.kt
  mirai-core/src/commonMain/kotlin/network/notice/group/GroupMessageProcessor.kt
  mirai-core/src/commonMain/kotlin/network/notice/priv/PrivateMessageProcessor.kt
  mirai-core/src/commonMain/kotlin/network/protocol/data/proto/PttShortVideo.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/PacketFactory.kt
  mirai-core/src/commonMain/kotlin/network/protocol/packet/chat/shortvideo/PttCenterSvr.kt
  mirai-core/src/commonMain/kotlin/utils/ExternalResourceImpl.kt
  mirai-core/src/commonMain/kotlin/utils/MiraiCoreServices.kt
  mirai-core/src/commonMain/resources/META-INF/services/net.mamoe.mirai.internal.message.protocol.MessageProtocol
  mirai-core/src/commonMain/resources/META-INF/services/net.mamoe.mirai.message.data.InternalShortVideoProtocol
  mirai-core/src/commonTest/kotlin/message/RefineContextTest.kt
  mirai-core/src/commonTest/kotlin/message/data/MessageRefineTest.kt
  mirai-core/src/commonTest/kotlin/message/protocol/MessageProtocolFacadeTest.kt
  mirai-core/src/commonTest/kotlin/message/protocol/impl/AbstractMessageProtocolTest.kt
  mirai-core/src/jvmBaseMain/kotlin/utils/ExternalResourceImpl.kt
  mirai-core/src/jvmBaseTest/kotlin/utils/CombinedExternalResourceTest.kt
Labels: t:feature, x:protocol, N, s:core
